<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>

    {{#each css}}
    	<link rel="stylesheet" href="/public/{{this}}.css">
    {{/each}}
</head>
<body>
    {{{body}}}

    <script src="/public/jquery-3.4.0.min.js"></script>
	{{#each js}}
        <script src="/public/{{this}}.js"></script>
    {{/each}}
</body>
</html>