<main>
	<div id="createContainer">
		<h1 id="createHeader">Bits4Hire()</h1>
		<form id="createForm" action="/create" method="post">
			<input type="email" name="email" id="userEmail" class="formInput" autocomplete="on" placeholder="Email" required autofocus>
			<input type="password" name="password" id="userPassword" class="formInput" autocomplete="off" placeholder="Password" required>
			
			<input type="submit" value="Submit" id="createSubmit">
		</form> 
{{!-- 
		<div id="registerContainer">
			<p id="registerDescription">Don't have an account?</p>
			<a href="/create" id="registerLink">Sign Up</a>
		</div> --}}
	</div>
</main>