<main>
	<div id="createContainer">
		<h1 id="createHeader">Bits4Hire() Sign Up</h1>
		<form id="createForm" action="/create" method="post">
			<input type="email" name="email" id="userEmail" class="formInput" autocomplete="on" placeholder="Email" required autofocus>
			<input type="password" name="password" id="userPassword" class="formInput" autocomplete="off" placeholder="Password" required>
			
			<input type="submit" value="Submit" id="createSubmit">
		</form> 
	</div>
</main>