<header id="mainHeader">
	<div id="headerLeft">
		<h1 id="mainHeaderText">JobSrc()</h1>
	</div>

	<div id="headerRight">
		<a class="headerLink" id="loginLink" href="/login">Login</a>
		<a class="headerLink" id="createLink" href="/create">Sign Up</a>
	</div>
</header>
<main>
	<div id="banner"></div>
	<section>
		<h2 class="sectionTitle">WHO WE ARE</h2>
		<div class="sectionContentContainer">
			<p class="sectionContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</section>

	<section>
		<h2 class="sectionTitle">GETTING STARTED</h2>
		<div class="sectionContentContainer">
			<p class="sectionContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<a id="sectionSignUpButton" href="/create">Sign Up For Free</a>
		</div>
	</section>
</main>

<footer id="mainFooter">
	<p class="footerContent">CS-546 Stevens Instutite of Technology</p>
</footer>